/* General container for the faculty page */
.faculty-container{
    background-color: #c7d8fc;
    display: flex;
    padding: 30px;
    flex-direction: column; /* Align items vertically */
    padding-bottom: 115px;
    margin-left: 20%; /* Adjust to make room for the sidebar */
    transition: margin-left 0.3s;
    width: 80%; /* Increase the width */
    height: 75vh;
    max-width: 1200px; /* Set a maximum width */
}

/* Icon row container styling */
.icon-row-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 15px;
    padding: 60px;
    max-width: 1200px;
}

/* Icon item styling */
.icon-item {
    text-align: center;
    font-size: 12px;
    padding: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: rgb(243, 240, 255);
    transition: border-color 0.3s;
}

/* Icon item hover effect */
.icon-item:hover {
    border-color: rgba(0, 0, 0, 0.1);
}

/* Icon image styling */
.icon-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Button container styling */
.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* Button styling */
button {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
    background-color: #007bff;
    color: white;
}

/* Button hover effect */
button:hover {
    background-color: #0056b3;
}

/* Filter dropdown styling */
.filter-container label {
    text-align: center;
    font-weight: bold;
    margin-left: 70px;
}

#status-filter {
    padding: 2px;
    margin-left: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s;
}

/* Dropdown hover and focus states */
#status-filter:hover,
#status-filter:focus {
    border-color: #80bdff;
    outline: none;
}

/* Adjustments for responsiveness */
@media screen and (max-width: 1200px) {
    .icon-row-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .faculty-container {
        margin-left: 0; /* Full-width content on smaller screens */
        padding: 20px;
    }

    .icon-row-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 576px) {
    .icon-row-container {
        grid-template-columns: repeat(1, 1fr);
    }
}


